* {
  box-sizing: border-box;
}

body {
  font-family: "NanumGothic";
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: #686868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  background-color: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.font-lg {
  font-size: 26px;
}

.font-sm {
  font-size: 14px;
}

.font-xs {
  font-size: 12px;
}

.flex {
  display: flex;
  align-items: center;
}

.mr {
  margin-right: 15px;
}

main {
  height: 100vh;
  width: 476px;
  background-color: white;
  position: relative;
}

.main_container {
  max-height: calc(100vh - 18px - 75px - 60px);
  overflow: hidden;
}

.main_container:hover {
  overflow-y: scroll;
}

section {
  padding: 18px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.nav--top {
  padding: 5px 18px;
  justify-content: space-between;
}

.nav__left {
  display: flex;
  gap: 6px;
}

.nav__right {
  display: flex;
  gap: 6px;
}

header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  font-weight: bolder;
}

.header__icons {
  display: flex;
  gap: 20px;
}

.avatar {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 40%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.avatar--solo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 15px;
}

.avatar--lg {
  height: 65px;
  width: 65px;
  margin-right: 20px;
}

.avatar--sm {
  height: 25px;
  width: 25px;
}

.avatar--add {
  color: #717171;
  background-color: #f5f5f5;
}

.avatar--birth {
  background-color: #f56970;
  color: white;
}

.avatar--recommend {
  background-color: #8f7fc0;
  color: white;
}
footer {
  border-top: 1px solid rgb(243, 243, 243);
  background-color: #f2f2f2;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

footer > a {
  height: 60px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_chat {
  position: relative;
}

.link_chat > div:first-child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: lighter;
  top: 15px;
  right: -5px;
  background-color: #de6347;
  color: white;
  padding: 2px 4px;
  border-radius: 7.5px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash_screen {
  background-color: #ffeb34;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 476px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: yellow;
  display: flex;
  top: 0;

  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  #no-mobile {
    display: none;
  }
}
